<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>316980203554-cpo5qmphs533jgrl9g1eeqir7mggk7f5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.316980203554-cpo5qmphs533jgrl9g1eeqir7mggk7f5</string>
	<key>API_KEY</key>
	<string>AIzaSyAq97cvHPaw00s_2iIFsJXc7SSuc3vP83M</string>
	<key>GCM_SENDER_ID</key>
	<string>316980203554</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.gym.app</string>
	<key>PROJECT_ID</key>
	<string>gymapp-d10be</string>
	<key>STORAGE_BUCKET</key>
	<string>gymapp-d10be.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:316980203554:ios:b5a97dae6d452e64ad3a7b</string>
</dict>
</plist>